{% extends 'base.html.twig' %}

{% block title %}Default layout{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Leadgrease</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_list_campaigns') }}">Campaigns</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}

    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}
